@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

*::-moz-selection{
  background:#b9916fd1;
}
*::selection{
  background:#b9916fd1 ;
}




body{
  
  color: white;
  overflow-x: hidden;
  background-color: #1e1e1e;
  /* background-color: blue; */

  position:relative;
  height:100%;
  font-family: 'Open Sans Condensed', sans-serif;
}

.active{
  transition: all 0.3s   ease-in;
  background:#f77c11d1;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
}

input{
  text-decoration: none;
  outline:none;
}
/* MAIN WRAPPER */

.main-wrapper {
  /* display: flex; */
  /* grid-template-columns: 15% 42.5% 42.5%; */
  /* height:100%; */
  /* grid-gap:3px; */

} 


/* SIDE BAR WRAPPER */

.sidebar-wrapper{
  background: #282828;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
 position:fixed;
 clear:both;
 top:0;
 bottom:0;
 width:10.9%;
 
  /* justify-content: center; */
  /* align-items: center; */
}
div.sidebar-1{
  margin-bottom: 15px;
}

div.sidebar-1  div{
 display: flex;
 justify-content: space-between;
 margin: 20px 0;
 height:30px;
 padding: 20px 10px;
align-items:center;
cursor:pointer;

 


  
}

div.sidebar-1   div:hover , div.sidebar-2 div:hover {
  transition: all 0.3s ease-in;
  background:#f77c11d1;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  
}


div.sidebar-1  div p{
  font-size: 16px;
  text-align:center;
}

div.sidebar-1  div p .fa{
 
  margin-right:10px;
   
 }
 div.sidebar-1  div p .fa-star{
 
  color:#febf63;
   
 }

 div.sidebar-1 div p .fa-trash{
   color:#b80e25;
 }

 
 div.sidebar-1  div span{
 
  font-size:15px;
  color:#8d97a9;
   
 }

 div.sidebar-2  div{
  display: flex;
  margin: 10px 0;
  height:30px;
  padding: 20px 10px;
 align-items:center;
 cursor:pointer;
}

div.sidebar-2 h3{
  font-size:15px;
  color:#929292;
}

div.sidebar-2 .fa{
  color:#9e9e9e;
  margin-right:10px;
}

div.sidebar-footer {
  position:absolute;
 bottom:0;
 
}
div.sidebar-footer div{
  display: flex;
  margin: 10px 10px 10px 0;
  height:30px;
  padding: 20px 5px;
 align-items:center;
 cursor:pointer;
 
}

div.sidebar-footer .fa{
  color:#9e9e9e;
  margin-right:10px;
}
div.sidebar-footer div:nth-of-type(1):hover{
  transition: all 0.5s ease-in-out;
  background:#7a7a7a;
  color:white;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
}
div.sidebar-footer div:nth-of-type(2):hover{
  transition: all 0.5s ease-in-out;
  background:#f36;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
}


/* MAIN PAGE1 WRAPPER */

.mainpage1-wrapper{
  background-color: #1e1e1e;
  position: relative;
left:11%;
right: 42.6%;
top: 0;
bottom: 0;
padding: 20px;
font-family: 'Roboto Slab', serif;
width:46.3%;

}

.mainpage1-header{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  
}

div.mainpage1-header input[type="text"]{
  outline: none;
  border:none;
  background:transparent;
  color:#7a7a7a;
  padding:5px 20px;
}

.search-bar{
  background: #404040;
  text-align:center;
  /* width:30px; */
  color:#7a7a7a;
  padding:10px 30px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
}

.search-bar .fa-search{
  margin-right:10px;
  
}


div.mainpage1-header .fa-plus{
  background-color: #f77c11d1;
  padding: 10px 15px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  cursor:pointer;
}




/* ALL ITEMS */

div.all-items{
  margin-top: 20px;
}

div.items{
  display: grid;
  width: 60%;
  grid-template-columns: 20% 60% 20%;
  /* grid-gap: 3px; */
  justify-content:flex-start;
  margin-top:10px;
  /* background:blue; */
  
  padding: 10px 10px;
 
  /* text-align: center; */
}

div.items:hover, div.code-vault-in-items:hover{
 
  transition:all 0.5s ease-in;
  border-bottom-left-radius:10px;
  border-top-right-radius:10px;
  cursor:pointer;
  background-color: #dda26e;
  
}
div.items .icon{
  /* background:yellow; */
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 5px 0;
  margin-right: 15px;
}
div.items h1{
 background:#404040;
 text-align:center;
 border-radius:5px;
 width: 50px;
 padding: 5px 10px;
 font-weight:bold;
 /* font-size:30px; */
 

}

.details{
  display:flex;
  flex-direction:column;
  justify-content:center;
}
div.details .details-1 {
  margin-bottom:3px;
  font-size:18px;
  
}

div.details .username {
  
  
  color:#7a7a7a;
}

.type{
  font-size:15px;
  font-weight:bolder;
  color:#7a7a7a;
}

/* MAIN PAGE2 WRAPPER */
.mainpage2-wrapper{
  background-color: #1e1e1e;
  position: absolute;
/* left: 0; */
right: 0;
top: 0;
bottom: 0;
width:42.5%;

padding: 20px 30px;
}

.mainpage2-wrapper div.header{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom:20px;
  font-family: 'Roboto Slab', serif;
}

.mainpage2-wrapper div.header p{
  margin-left: 10px;
  background:#292929;
  padding:5px 10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  font-size:13px;

}

.mainpage2-wrapper div.header p i{
  margin-right: 5px;
  font-size:13px;
}

.mainpage2-wrapper div.header p:nth-of-type(1):hover{
  transition:all 0.3s ease-in ;
  background:#ff2525;
  cursor:pointer;
  border-bottom-left-radius:10px;
  border-top-right-radius:10px;
}
.mainpage2-wrapper div.header p:nth-of-type(2):hover,
.mainpage2-wrapper div.header p:nth-of-type(3):hover{
  transition:all 0.3s ease-in ;
  background:#d5841d;
  cursor:pointer;
  border-bottom-left-radius:10px;
  border-top-right-radius:10px;
}


div.logins, div.vault-codes-mainpage-2{
  display:flex;
  flex-direction: column;
  margin-top:20%;
  
}

.login-header{
  display:grid;
  grid-template-columns:20% 60% 20% ;
  justify-content:flex-start;
  margin:10px 0 10px 0;
  border-bottom: 1px Solid #2c2c2c;
  padding: 10px 0px;
  transition:all 0.5s ease-in;
  font-family: 'Roboto Slab', serif;
}

div.login-header .icon{
  display:flex;
  
  margin-right: 15px;
}
div.login-header h1{
 background:#404040;
 text-align:center;
 border-radius:5px;
 width: 50px;
 padding: 5px 10px;
 font-weight:bold;
 /* font-size:30px; */
 

}

div.login-header .star{
  /* color:blue; */
  display:flex;
  justify-content:flex-end;
}

/* CHECK ALL ITEMS SECTION FOR STYLES NOT FOUND HERE */

div.login-body{
  display: flex;
  flex-direction: column;
}

div.login-body div{
  display: flex;
  flex-direction: column;
}

div.username label,div.password label{
  color:#686868;
}
div.username{
  padding:10px 20px;
  margin-bottom:20px;
}

div.login-body .username-input, .password-input{
  background: transparent;
  outline: none;
  border:none;
  color:white;
  margin-top: 10px;
  padding-left:10px;
  font-size:15px;
  font-family: 'Quicksand', sans-serif;
  
}

div.password{

background-color: #292929;
padding:10px 20px;
border-bottom-left-radius:10px;
border-top-right-radius:10px;
width:100%;
position: relative;


}

section.logins-icons{
  display:flex;
  flex-direction:row;
  /* color:blue; */
  position:absolute;
  right:10px;
  top:33px;
  
}
section.logins-icons span{
  color:#9e9e9e;
  margin:0 5px;
}

section.logins-icons .fa-eye-slash{
  position:absolute;
  right:38px;
  display: none;
}

section.logins-icons .fa-copy{
  
  visibility: hidden;
}
section.logins-icons .fa-copy:hover{
  transition:all 0.5s ease-in;
  color:white;
}

section.logins-icons .visible{
  visibility:visible;
}

section.logins-icons .hide{
  display: none;
}

section.logins-icons .show{
  display: block;
}


.tooltip {
  position: relative;
  display: inline-block;
 
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* CARDS */

.cards{
  margin-top:30px;
}
.card-details{
  /* background: blue; */
  display:flex;
  /* text-align:center; */
  align-items: center;
  justify-content:center;
  
  

}

.card-details .card-design{
  width:70%;
  height:170px;
  background: -webkit-linear-gradient(to right,#d16c148a, #1e1e1e); /*CHROME*/
  background: -moz-linear-gradient(to right,#d16c148a, #1e1e1e); /*FIRE FOX*/
  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(to right,#d16c148a, #1e1e1e);
  margin-top:20%;
  border-radius:10px;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  padding:10px;
  font-size:15px;
  color:#1e1e1e;
}

.card-details .card-design .card-details-1, .card-details-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.card-details-3{
  align-items:flex-end;
  color:#00f2d08a;
}
.card-details-1{
  align-items:flex-start;
}

.card-details-2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:30px;
  
}

.card-details-1 p:nth-of-type(1){
  color:#1e1e1e;
  font-size:15px;
}

/* LOGINS */

div.logins{
  margin-top:30px;
}

/* VAULT CODES */

.vault-codes{
  margin-top:30px;
  display:flex;
  flex-direction:column;  
  justify-content: space-between;
  
}

div.vault-codes .vault{
  display:flex;
  /* flex-direction:flex;   */
  justify-content: space-between;
  width:60%;
  margin-top: 10px;
  padding: 20px 10px;
  background: #404040;
  border-top-left-radius:10px;
  border-bottom-right-radius:10px;
  transition:all 0.4s ease-in-out;
}

div.vault-codes .vault:hover{
  cursor:pointer;
  background-color: #dda26e;
}

div.vault-codes-body h3{
  color:grey;
  text-align:center;

}
.code-vault-in-items{
  display:flex;
  /* flex-direction:flex;   */
  justify-content: space-between;
  width:60%;
  margin-top: 10px;
  padding: 20px 10px;
  border-bottom-left-radius:10px;
  border-top-right-radius:10px;
}

div.vault-codes-mainpage-2 .password-input{
  padding: 10px 0;
}

/* KEYS */

div.keys{
  margin-top:30px;
  display:flex;
  flex-direction:column;  
  justify-content: space-between;
}

div.key-items{
  display:flex;
  flex-direction:row;  
  justify-content: space-between;
  width:60%;
  margin-top: 10px;
  padding: 20px 10px;
  background: #404040;
  border-top-left-radius:10px;
  border-bottom-right-radius:10px;
  transition:all 0.4s ease-in-out;
}


div.key-items:hover{
  cursor:pointer;
  background-color: #dda26e;
}

div.key-items-in-allitems{
  border:none;
  background:none;
}


/* NOTE */

div.notes-mainpage-1{
  margin-top:30px;
  
}
div.notes-mainpage-1-inner{
  display:flex;
  background:#404040;
  padding:10px 20px;
  margin-bottom:10px;
  border-bottom-left-radius:10px;
border-top-right-radius:10px;
width:60%;

}
div.notes-mainpage-1-inner:hover{
  transition:all 0.3s ease-in;
  background:#dda26e;
  cursor:pointer;
}

div.notes-mainpage-1-inner p:nth-of-type(1),
div.notes-mainpage-2 p:nth-of-type(1){
  font-size:20px;
  margin-bottom:10px;
}
div.notes-mainpage-1-inner p:nth-of-type(2),
div.notes-mainpage-2 p:nth-of-type(2){
  font-size:15px;
}


div.notes-mainpage-2{
  margin-top:20%;
  border-top:1px solid #404040;
  border-bottom:1px solid #404040;
  padding:15px 0;
}


/* POPUPS */

div.blurry-popUp{
  
  background:#eff5ff94;
  width: 100%;
  height:100%;
  position:fixed;
  z-index:5;
  top:0;
  display:none;
  align-items:center;
  justify-content:center;
}

div.show-blurry-popUp{
  display:flex;
}


/* SHARING CENTER */
div.share{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  /* margin:auto; */
  /* margin-left:-1000px; */
  background:#1e1e1e;
  width:60%;
  height:70%;
  /* border-radius:10px; */
  position:relative;
  opacity:0;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
}

div.pop-up-box{
  opacity:1;
  /* animation: pop-up-box 1s infinite; */
}

@keyframes pop-up-box {
  0%{
   opacity:0;
    /* margin-left:-1000px; */
     
    
  }
50%{
  opacity:0.5;
}

  100%{
      opacity:1;
      /* margin-left:0; */
  }
}
div.share-to-one{
  background:-moz-linear-gradient(to right,#865932, #3e2929,#865932);
  background: -webkit-linear-gradient(to right,#865932, #3e2929,#865932); /*CHROME*/
  background: linear-gradient(to right,#865932, #3e2929,#865932);
  /* border-radius:10px; */
  border-top-left-radius:10px;
}
div.share-to-one,
div.share-to-many{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

div.share-to-one h1,
div.share-to-many h1{
  margin-bottom:30px;
  font-size:18px;
}
div.share-to-one form,
div.share-to-many form{
  text-align:center;
  width:50%;
  
}
div.share-to-one div.form{
  display:flex;
  background:#404040;
  padding:10px 10px;
  margin-bottom:10px;
  border-radius:10px;
  width:100%;
}

div.share-to-many div.form{
  display:flex;
  flex-direction:row-reverse;
  background:#404040;
  padding:10px 10px;
  margin-bottom:10px;
  border-radius:10px;
  width:100%;
}

div.share-to-one div.form .fa,
div.share-to-many div.form .fa{
  color:#7a7a7a;
}

div.share-to-many div.form .fa:hover{
  transition:all 0.3s ease-in-out;
  cursor:pointer;
  color:white;
}

div.share-to-one div.form input,
div.share-to-many div.form input{
  background:transparent;
  outline:none;
  border:none;
  padding:0 6px;
  color:#7a7a7a;
  width:100%;
}

div.share-to-one form button,
div.share-to-many form button{
  padding:5px 10px;
  color:white;
  background:#292929;
  outline:none;
  border:none;
  border-radius:5px;
  transition:all 0.3s ease-in-out;
}


div.share-to-one form button:hover,
div.share-to-many form button:hover{
  padding:10px 15px;
  background:#d5841d;
  cursor:pointer;
  
}

div.share > p,
div.add-to-login > p,
div.add-to-card > p{
  position:absolute;
  right:20px;
  bottom:20px;
  background:#292929;
  padding:10px 20px;
  border-radius:5px;
  transition:all 0.3s ease-in-out;
}

div.share > p:hover,
div.add-to-login > p:hover,
div.add-to-card > p:hover{
  cursor:pointer;
  background:#ff2525;
}

/* DELETE */

div.delete{
  display:flex;
  flex-direction:column;
  width:20%;
  height:30%;
  background:#1e1e1e;
  align-items:center;
  justify-content:center;
  border-radius:10px;
  padding:10px 10px;
}

div.delete h3{
  font-size:20px;
}
div.delete .options{
  display:flex;
  margin-top:20px;
}

div.delete .options button{
  margin:10px;
  padding:10px 15px;
  border:none;
  background:#292929;
  color:grey;
  border-radius:5px;
  transition:all 0.3s ease-in;
}

div.delete .options button:nth-of-type(1):hover{
  background:#ff2525;
  cursor:pointer;
  color:white;
}

div.delete .options button:nth-of-type(2):hover{
  background:green;
  cursor:pointer;
  color:white;
}


div.delete p{
  font-size:13px;
  color:grey;
}

/* ADD TO LOGIN */

div.add-to-login{
  width:50%;
  height:70%;
  background:#1e1e1e;
  display: flex;
  border-radius:10px;
  position:relative;
}

div.add-to-login form{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin:auto;
  /* padding:20px; */
  width:60%;
}

div.add-to-login >p.save,
div.add-to-card >p.save{
  right: 130px;
}

div.add-to-login >p.save:hover,
div.add-to-card >p.save:hover{
  transition:all 0.3s ease-in-out;
  background:green;
}

div.add-to-login form div{
  margin:10px 0;
  display:flex;
  flex-direction:column;
  /* align-items:center; */
  /* justify-content:center; */
  padding:5px 15px;
  width:70%;
}

div.add-to-login form div label{
  margin-bottom:5px;
  font-size: 15px;
}

div.add-to-login form div input[type="text"],
div.add-to-login form div input[type="password"]{
  border:none;
  padding:5px 10px;
  background:#404040;
  color:#7a7a7a;
  /* border-radius:5px; */
}

div.add-to-login form div.generate_password{
  flex-direction:row;

}

div.add-to-login form div.generate_password label{
  margin-right:5px;
  margin-bottom:0;
}

div.add-to-login form div.generate_password button{
  background:#404040;
  text-align:center;
  /* height:15px; */
  /* width:15px; */
  border:none;
  padding:2px 3px;
  border-radius:2px;
}

div.add-to-login form div.generate_password button .not-checked{
  visibility:hidden;
  color:green;
}

div.add-to-login form div.generate_password button .checked{
  visibility:visible;
  
}

/* ADD TO CARD */
div.add-to-card{
  width:50%;
  height:70%;
  background:#1e1e1e;
  display: flex;
  border-radius:10px;
  position:relative;
  align-items:center;
  justify-content:center;
}

div.add-to-card form{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  width:70%;
}

div.add-to-card form div{
  margin:15px 5px;
  display:flex;
  flex-direction:column;
}

div.add-to-card form div label{
  margin-bottom:10px;
  font-size:15px;
}

div.add-to-card form div input{
  border:none;
  padding:5px 10px;
  background:#404040;
  color:#7a7a7a;
  /* border-radius:5px; */
}

div.add-to-card form div.card-number{
  grid-column:1/3;
}
