
div.mobile-header{
  display: none;
    z-index: 2;
    background: pink;
    position: fixed;
    left: 0;
    right: 0;
    padding: 15px;
    justify-content: flex-end;
    margin-bottom:20px;
}
@media screen and (max-width: 1200px){
    
    .active{
      border-radius: 10px;
    }
    div.sidebar-1  div{
    
        padding: 10px 10px;
   
       
    }

       div.sidebar-1  div p{
        font-size: 14px;
        
      }

      div.sidebar-1   div:hover , div.sidebar-2 div:hover {
        
        border-radius:10px;
        
      }

      div.sidebar-2  div{
        padding: 10px 10px;
      }
      div.sidebar-2 h3{
        font-size: 14px;
      }

      div.sidebar-2 div p,
      div.sidebar-2 div .fa,
      div.sidebar-footer div p,
      div.sidebar-footer div .fa{
        font-size: 14px;
      }
      div.sidebar-footer div{
        
        padding: 10px 5px;
       
       
      }

      div.sidebar-footer div:nth-of-type(1):hover{
        border-radius:10px;
      }
      div.sidebar-footer div:nth-of-type(2):hover{
        border-radius:10px;
      }



    
}


@media screen and (max-width: 1300px){
  .sidebar-wrapper{
    width:15%;
  }
  .mainpage1-wrapper{
    left:16%;
    /* width:38.6%; */
  }
  div.items{
    width:80%;
  }

  .code-vault-in-items,
  .key-items-in-allitems,
  div.notes-mainpage-1-inner,
  div.vault-codes .vault{
    width:80%;

  }


  .mainpage2-wrapper{
    width:37.5%;
  }
}

@media screen and (max-width: 1005px){
  div.items{
    width:100%;
  }


  .code-vault-in-items,
  .key-items-in-allitems,
  div.notes-mainpage-1-inner,
  div.vault-codes .vault{
    width:100%;

  }

  .mainpage1-wrapper{
    
    width:41.1%;
  }

  .mainpage2-wrapper{
    width:40%;
  }
}



@media screen and (max-width: 768px){
  .sidebar-wrapper{
    left:-50%;
    width:20%;
    /* top:47.9px; */
  }


  .hide-side-bar{
    animation: hide-side-bar 0.5s ease-in-out;
    
  }

  @keyframes hide-side-bar {
    
  
    0%{
      left: 0;
      z-index: 5;
      opacity: 1;
    }

    50%{
      opacity: 0.5;
    }
    100%{
      left:-50%;
      z-index: 1;
    }
  }

  .show-side-bar{
    left:0;
    z-index:5;
    animation: show-side-bar 0.5s ease-in-out;
  }
  
  @keyframes show-side-bar {
    0%{
      left:-50%;
      z-index: 1;
    }

    50%{
      opacity: 0.5;
    }
  
    100%{
      left: 0;
      z-index: 5;
    }
  }
  
  .mainpage1-wrapper{
    left:0;
    width:50%;
    top:40px;
    /* width:38.6%; */
  }
  .mainpage2-wrapper{
    width:50%;
    top:40px;
  }

  .card-details{
    display: flex;
    flex-direction:column;
    margin-top:10%;
    }

    div.card-details div{
      margin:5px 5px;
      display:flex;
      flex-direction:column;
    }

    div.card-details  .card-pin-input,
div.card-details  .card-cvv-input,
div.card-details  .card-exp-month,
div.card-details  .card-exp-year
{
  width:100%;
  /* background:blue; */
}

div.card-details div.card-pin .fa-copy,
div.card-details div.cvv .fa-copy{
  position: absolute;
  right:20px;;
  top:55%;
  color:#7a7a7a;
  transition:all 0.3s ease-in;
}

div.mobile-header{
  display:flex;
}
}

@media screen and (max-width: 600px){

  .sidebar-wrapper{
    width:30%;
  }
  .mainpage1-wrapper{
    left:0;
    width:100%;
    
  }
  .mainpage2-wrapper{
    right:-100%;
  }


}